@import "tailwindcss";
@plugin "daisyui";

@import "@fontsource-variable/roboto";
@import "@fontsource-variable/noto-serif";
@import "@fontsource-variable/arima";
@import "@fontsource-variable/jetbrains-mono";
@import "@fontsource-variable/playpen-sans";

@theme inline {
  --font-sans: "Roboto Variable", sans-serif;
  --font-serif: "Noto Serif Variable", serif;
  --font-mono: "JetBrains Mono Variable", monospace;
}

@layer base {
  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-4xl font-bold;
  }
  h3 {
    @apply text-3xl font-bold;
  }
  h4 {
    @apply text-2xl font-bold;
  }
  h5 {
    @apply text-xl font-bold;
  }
  h6 {
    @apply text-lg font-bold;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer components {
  .js-draw.imageEditorContainer {
    @apply w-full;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
}

@keyframes scale-fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scale-fade-out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
